.button {
  padding: 1em 2em;
  font-weight: 700;
  border-radius: 1em;
  font-size: 16px;
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
  color: white;
  margin: 0 0.5em 2em;
  cursor: pointer;
}

.button--grey {
  background: #ccc;
  color: black;
}

.button:hover {
  background-position: right center;
}

.button:disabled {
  cursor: not-allowed;
}
