.header__title {
  text-transform: capitalize;
}

.list {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list__item {
  padding: 1em;
}

.list__item + .list__item {
  border-top: 1px solid #ccc;
}

.player {
  display: flex;
  justify-content: space-between;
}

.form {
  &__players {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -2.5%;
  }

  &__name {
    font-weight: 700;
  }

  &__check {
    text-align: left;
  }
  
  &__check .check {
    color: green;
  }
  
  &__check .check--error {
    color: red;
  }
  
  &__summary {
    text-align: left;
    margin: 1em;
    font-weight: 700;
  }
  
  &__player {
    padding: 1em;
    min-width: 300px;
    flex-basis: 45%;
    border: 1px solid #ccc;
    margin: 1em 2.5%;

    @media screen and (max-width: 868px) {
      flex-basis: 97.5%;      
    }
  }
  
  &__label {
    text-transform: capitalize;
    margin: 0 1em;
    text-align: left;
  }
  
  &__player-label {
    text-transform: capitalize;
    font-size: 22px;
    text-align: left;
  }

  &__image {
    max-width: 100%;
    border-radius: 50%;
    width: 100%;
    padding: 10px;
  }

  &__details {
    margin: 1em 0;
    line-height: 1.4;
    text-align: left;

    .form-field {
      display: flex;

      &__label {
        font-weight: 700;
      }
    }
  }
}

.check__icon {
  width: 10px;
}